.hg
.git
*.pyc
*.pyo
.svn
.installed.cfg
.mr.developer.cfg
bin
develop-eggs
develop-eggs-src
dist
downloads
eggs
parts
build
*.egg-info
.DS_Store
.project
.pydevproject*
*.db
*.*~

external-src/

py_src/cmsproject/settings/development_personal.py
development_personal.cfg
py_src/cmsproject/settings/secrets.py
secrets.cfg

py_src/cmsproject/media/private/
py_src/cmsproject/media/filer_public/
py_src/cmsproject/media/tmp/