{% load i18n contact_tags cms_tags %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% block title_prefix %}{% page_attribute page_title %}{% endblock %}{% block title_extra %}{% endblock %}{% block title_suffix %} | {{ site_settings.site.name }}{% endblock %}{% endblock %}</title>
{% block meta_tags %}
    {% for tag in meta_tags %}{% spaceless %}
    {{ tag }}
    {% endspaceless %}
    {% endfor %}
{% endblock %}
{% block css %}	
	<link href="{{ MEDIA_URL }}css/style.css" media="all" rel="stylesheet" type="text/css" />
	<link href="{{ MEDIA_URL }}css/print.css" media="print"	rel="stylesheet" type="text/css" />
{% endblock %}

{% if site_settings.favicon %}
    <link rel="Shortcut Icon" type="image/x-icon" href="{{ MEDIA_URL }}{{ site_settings.favicon }}"/>
{% endif %}
{% block js %}
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.1.min.js"></script>
	{# <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script> #}
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.scrollTo-min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.fieldtag.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/global.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/plugins/simplegallery.js"></script>
	
	<!--[if IE 6]>	
		<script type="text/javascript" src="{{ MEDIA_URL }}js/ie6.js"></script>
	<![endif]-->
{% endblock %}
{% spaceless %}
{% plugins_media %}
{% block extrahead %}{% endblock %}
{% endspaceless %}
</head>
<body id="{% block tpl_id %}none{% endblock %}" class="{{ LANGUAGE_CODE }}">
<div id="wrapper">
	<div id="pageheader">
		<div class="container_16 clearfix">	
			pageheader comming soon
		</div>
	</div>
	
	<div id="page" class="clearfix">
		<div id="header" class="container_16 clearfix">	
			<div id="meta">
				<div  class="content_right">	
					
					<div id="nav_meta" class="floatleft">
						{% block navigation_meta %}
						{% spaceless %}
						<ul>
							{% show_menu_below_id "meta" 1 100 100 100 %}
						</ul>
						{% endspaceless %}
						{% endblock %}
					</div>	
					
					<div id="nav_lang">
						{% block language_chooser %}
						{% spaceless %}
						<ul class="dropdown">
							{% language_chooser %}			
						</ul>
						{% endspaceless %}
						{% endblock %}
					</div>	
					
					<div id="searchbox" class="floatleft">
						<form action="">
							<fieldset>
								<input type="text" name="q" title="{% trans 'Search...' %}" value="" class="searchinput" />
								<input type="submit" class="submit" value="" />
							</fieldset>
						</form>	
					</div>
										
				</div>
			</div>
			<div id="nav">
				<div id="logo_holder" class="floatleft">	      		
					{% if sitelogo %}<a href="/"><img src="{{ sitelogo.logo.url }}" alt="{{ site_settings.site.name }}" /></a>{% endif %}
		      	</div>
				<div id="nav_main">
					{% block navigation %}
					{% spaceless %}
					<ul class="dropdown"> 
						 {% show_menu 0 100 100 100 %}
					</ul>
					{% endspaceless %}
					{% endblock %}
				</div>
			</div>		
		</div>
		<div id="main" class="container_16 clearfix">
			  {% block content %}{% endblock content %}
		</div>	
	</div>	
	<div id="clearfooter">&nbsp;</div>
</div>
{% spaceless %}
<div id="footer">
	<div class="container_16">
		<div class="content_left">
			{% block navigation_footer %}
			<ul>
				{% show_menu_below_id "footer" 1 100 100 100 %}
			</ul>
			{% endblock %}
		</div>
		<div class="content_right">
			&copy; 2010 my company
		</div>
	</div>
</div>
{% endspaceless %}

{% if GOOGLE_ANALYTICS_ID %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("{{ GOOGLE_ANALYTICS_ID }}");
pageTracker._trackPageview();
} catch(err) {}</script>
{% endif %}
</body>
</html>