{% extends "base.html" %}
{% load cms_tags %}

{% block tpl_id %}tpl_col_two{% endblock %}

{% block content %}
<div id="main_holder" class="container_16 clearfix">
	<div class="grid_11 border_right_2">
		{% block page_title %}
			<h1>{% page_attribute title %}</h1>
		{% endblock %}
	</div>
    <div id="col1" class="grid_11 border_right">
		<ul id="footer_sitemap">
			{% block col_left %} 
				{% show_menu 0 100 100 100 %}
			{% endblock %}
		</ul>
    </div>
    <div id="col2" class="grid_5 omega">
		{% block col_right %}
			{% placeholder col_right 16_5 %}
		{% endblock %}
    </div>
</div>
{% endblock %}