*,body{background:#fff;}
body{color:#000;font:12px Arial, sans-serif;}

#header, #nav_sub, #clearfooter,#footer, .nav_sub_column{display:none;}

ul{
	list-style:disc;
}
ul li{
	margin-left:20px;
	padding-left:0;
}