@import url('reset.css');
@import url('960.css');
@import url('text.css');
@import url('nav_main_dropdown.css');
@import url('meta.css');
@import url('nav_sub.css');
@import url('plugin/simplegallery.css');
@import url('plugin/form.css');


/* FRAMEWORK addition */
.floatleft, .content_left{float:left}
.floatright, .content_right{float:right}

.bold{font-weight:bold}
.no_margin{margin:0}
.imgreplace{text-indent:-9999px;}
.no_liststyle, .no_liststyle li, .no_liststyle ul{list-style:none; margin:0; padding:0;background:none;}


html, body {
	height: 100%;
}
body{
	background:#fff;
}
#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -33px;
}


#pageheader, #page, #footer{min-width:960px;}
* html #pageheader{width:expression(document.body.clientWidth < 960? "960px": "auto" );}
* html #page{width:expression(document.body.clientWidth < 960? "960px": "auto" );}
* html #footer{width:expression(document.body.clientWidth < 960? "960px": "auto" );}


#pageheader{
	background:#244173 url("..img/pageheader-bg.jpg") repeat-x;
	/*min-height:215px;*/
	height:215px;
	display:none;
}
/* * html #pageheader{height:215px; } */

#page{
	background:url("../img/page-bg.jpg") repeat-x;
}

#header{
	height:115px;
}

#header #meta{
	height:34px;
}

#header #nav_meta{
	height:25px;
	max-width:500px;
	overflow:hidden;
}
* html #header #nav_meta{
	width:expression(document.body.clientWidth < 100? "100px": "auto" && document.body.clientWidth > 500 ? "500px": "auto")
}



#logo_holder{
	float:left;
	width:240px;
	height:57px;
	overflow:hidden;
}

#feature_top{
	margin-bottom:30px;
	width:960px;
	margin:0;
}

#main .nav_sub_column{
	width:240px
	
}
#main .nav_sub_column:after{
	content: "\00a0";
}


/* FOOTER */
#footer, #clearfooter{height:33px;}
#clearfooter{height:83px;} /* 33+50*/
#footer{	
	background:#DEDEDE url("../img/repeat-x.jpg") repeat-x;
	color:#1f4275;
	line-height:33px;
	overflow:hidden;
}
* html #footer{overflow:hidden;}
#footer ul, #footer li{list-style:none;margin:0;padding:0;background:none;}
#footer li{display:block; float:left; padding-right:15px;}
/*#footer a{color:#1f4275;}*/

/* DIV box */
.box{
	border: 1px solid #DDDDDD;
	padding:19px;
	margin-bottom:20px;
}
.boxbg{
	background:#fff url("../img/box-bg.jpg") repeat-x top left;
}


/* PLUGIN Teaser */
.plugin_teaser img{
	margin-bottom:10px;
}

.imgholder{
	text-align:center;
}

.plugin_teaser_picleft .imgholder{
	float:left;
	margin-right:10px;
}

a.more{
	color:#1F4275;
	font-weight:bold;
}


/* PLUGIN Video */
.plugin_video{
	margin-bottom:20px;	
}


/* PLUGIN File */
.plugin_file{
	
}
.filesize{
	color:#333;
	font-style:italic;
}


/* PLUGIN Google Map*/
.plugin_googlemap .googlemap-map{
	margin-bottom:10px;
}

/* MODUL News */
.entry{
	border-top:1px solid #DDD;
	padding-top:10px;
}
.entry h5.date{
	font-size:11px;
	font-weight:normal;
}

/* PLUGINS News */
.plugin_newsarchive{
	margin-bottom:20px;
}

.plugin_latestnews li{
	border-bottom:1px solid #ddd;
	margin-bottom:10px;
}

.plugin_latestnews li h5{
	font-weight:normal;
	font-size:12px;
	margin-bottom:0;
}

.plugin_relatednews ul{
	margin-bottom:0;
}




/* BUTTON */
.btn {
	display:inline-block;
	background:none;
	margin:0;
	border-width:0;
	overflow:visible;
	font:12px Arial, sans-serif;
	font-weight:bold;
	text-decoration:none;
	color:#1F4275;
	/*background:url("../img/slidingdoor.jpg") no-repeat 0px -80px;*/
	padding:0px;
	padding-top:8px;
	padding-bottom:8px;
	cursor:pointer;
}
/*
* html button.btn {
	padding-bottom:1px;
}*/

html:not([lang*=""]) button.btn {
	margin:0 -3px;
}

.btn span{	
	background:url("../img/slidingdoor.jpg") no-repeat left -80px;
	margin:0;
	padding:0;
	padding-left:10px;
	padding-top:8px;
	padding-bottom:8px;
}
* html .btn span {
	padding-top:0;
}
.btn span span {
	position:relative;
	padding-left:0px;
	border-width:0;
	background:blue;
	background:url("../img/slidingdoor.jpg") no-repeat right -80px;
	padding-right:10px;
}

button.pill-l span {
	border-right-width:0;
}
button.pill-l span span {
	border-right:1px solid #bbb;
	background:none;
}
button.pill-c span {
	border-right-style:none;
	border-left-color:#fff;
	background-position:-20px -80px;
}
button.pill-c span span {
	border-right:1px solid #bbb;
	background:none;
}
button.pill-r span {
	border-left-color:#fff;
	
	background-position: right -80px;
}
button.pill-r span span {
}

.primary {
	font-weight:bold;
}