{% load i18n thumbnail smartif %}

{% spaceless %}
<script type="text/javascript">
//<![CDATA[
	$(function(){
		initSimpleGallery("{{ placeholder }}", "#simplegallery_{{ instance.id }}", {{ gallery.images.all|length }}, {{ instance.interval }}, "{{ instance.style }}");
	});
//]]>
</script>

<div id="simplegallery_{{ instance.id }}" class="simplegallery clearfix {% ifequal placeholder "feature_top" %}simplegallery_feature_top{% endifequal %}">		
	<div class="gallery_content"{% if image_size %} style="height: {{ image_size.2 }}px;"{% endif %}>
		{% for image in gallery.images.all %}
        <div class="holder">
			{% if image.title or image.description or gallery.title or gallery.description %}
			<div class="gallery_info{% if instance.style == "infobottom" %} disabled{% endif %}">
				<div>
				{% if image.title %}
					<h3>{{ image.title }}</h3>
				{% else %}
					{% if gallery.title %}
						<h3>{{ gallery.title }}</h3>
					{% endif %}
				{% endif %}
				
				{% if image.description %}
					{{ image.description|linebreaks }}
				{% else %}
					{% if gallery.description %}
						{{ gallery.description|linebreaks }}
					{% endif %}
				{% endif %}
				</div>
			</div>
			{% endif %}
        	<img src="{% thumbnail image.image image_size.0 upscale,crop %}" alt="{{ image.description|escape }}" />
		</div>
		{% endfor %}
    </div>
	
	<div class="gallery_footer">
		{% if placeholder == "feature_top" and instance.style == "infobottom" %}
		<div class="gallery_footer_info">
			{% if gallery.title or gallery.description %}
				{% if gallery.title %}<h3>{{ gallery.title }}</h3>{% endif %}
				{% if gallery.description %}{{ gallery.description|linebreaks }}{% endif %}
			{% else %}				
				&nbsp;
			{% endif %}
		</div>
		{% endif %}
		<div class="gallery_nav_holder">
			<a href="#" class="navbtn prev">previous</a>
			<div class="gallery_slider">
				<ul class="gallery_nav">{% for image in gallery.images.all %}
					<li class="slideritem" title="{{ forloop.counter }}"><a href="#"><img src="{% thumbnail image.image 96x56 crop,upscale %}" title="{{ image.title }}" alt="{{ image.description }}" /></a></li>{% endfor %}
				</ul>
			</div>
			<a href="#" class="navbtn next">next</a>
			<div class="gallery_active">
				{% for image in gallery.images.all %}
				<div class="holder" title="{{ forloop.counter }}"><img src="{% thumbnail image.image 125x70 upscale,crop %}" alt="{{ image.description|escape }}" /></div>
				{% endfor %}
			</div>
		</div>
	</div>	
</div>
{% endspaceless %}