<div id="blog_list">
	<div class="entry grid_11 alpha omega clearfix">	
		<h1>
			<a href="#">Title</a>
		</h1>
		<span class="author clearfix">
			<strong>21/08 2009 </strong><span> von: <a href="#">Author</a></span>
		</span>
		<div class="entry_body">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a libero nisi, non consectetur diam. Maecenas vel enim nibh, quis lacinia lacus. Donec quis sapien a nisl blandit suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum posuere convallis magna eu dapibus.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a libero nisi, non consectetur diam. Maecenas vel enim nibh, quis lacinia lacus. Donec quis sapien a nisl blandit suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum posuere convallis magna eu dapibus.</p>
		</div>
		<div class="weiter">
			<ul>
				<li>
					<a href="#">Weitersagen</a>
				</li>
			</ul>
		</div>
	</div>
	
	<div id="comment_form" class="entry clearfix">
		<div class="entry_comment">
			<h2>Kommentare</h2>
			<span class="author clearfix">
				<strong>21/08 2009 </strong><span> von: <a href="#">Author</a></span>
			</span>
			<div class="comment_body">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a libero nisi, non consectetur diam. Maecenas vel enim nibh, quis lacinia lacus. Donec quis sapien a nisl blandit suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum posuere convallis magna eu dapibus.</p>
			</div>
		</div>
		
		<div class="grid_8 alpha entry_comment_form">
			<h2>Kommentar schreiben</h2>
			<form method="post" action="/de/blog/2009/08/21/goodbyemerlin/#comment_form">
				<div id="id_name_holder" class="ctrlHolder">
					<label for="id_name">Name</label>
					<input id="id_name" class="textinput" type="text" maxlength="100" name="name"/>
				</div>
				<div id="id_email_holder" class="ctrlHolder">
					<label for="id_email">Comment</label>
					<input id="id_email" class="textinput" type="text" maxlength="75" name="email"/>
				</div>
				<div class="submit_button clearfix">
					<input class="submit" type="submit" name="submit" value="Kommentar absenden"/>
				</div>
			</form>
		</div>
	</div>
</div>