<div class="product_holder">
<div class="iconbox grid_11 alpha omega clearfix">
		<img src="../../../media/img/ico/ico_plugin.jpg"/>
		<div>
			<h3>Flexible Plugin-Architektur</h3>
			<p>Um eine Seite anzulegen, k&ouml;nnen Sie aus verschiedenen Seitenvorlagen (Templates) ausw&auml;hlen und deren Inhalte anschliessend flexibel mit beliebigen Elementen (Plugins) gestalten.</p>	
		</div>
	</div>
	
	<div class="iconbox grid_11 alpha omega clearfix">
		<img src="../../../media/img/ico/ico_text.jpg"/>
		<div>
			<h3>Text Plugin</h3>
			<p>Anhand eines WYSIWYG-Editors bearbeiten Sie einfach selber alle Textinhalte ihrer Website. Dank WYSIWYG (What You See Is What You Get) sehen Sie sogleich wie Ihr Text auf der Website dargestellt wird. Die Bedienung erfordert keine speziellen HTML-Kenntnisse. Fortgeschrittene k&ouml;nnen HTML-Inhalte direkt einf&uuml;gen.</p>	
		</div>
	</div>
	
	<div class="iconbox grid_11 alpha omega clearfix">
		<img src="../../../media/img/ico/ico_picture.jpg"/>
		<div>
			<h3>Picture Plugin</h3>
			<p>Mit dem Picture Plugin f&uuml;gen Sie Bildinhalte ein, ohne sich dabei um Gr&ouml;ssen zu k&uuml;mmern: Das Plugin passt die Bilder automatisch auf die vorgegebene Gr&ouml;sse an.</p>
		</div>
	</div>
	
	<div class="iconbox grid_11 alpha omega clearfix">
		<img src="../../../media/img/ico/ico_gallery.jpg"/>
		<div>
			<h3>Gallery Plugin</h3>
			<p>Erstellen Sie Ihre eigenen Slideshows mit mehreren Bildern und fugen Sie diese an beliebigen Orten in der Website ein. Auch hier mussen Sie sich nicht um die Anpassungen der Bildgrossen kummern.
			<a href="/de/portfolio/project/saisonkuche/">Beispiel</a></p>
		</div>
	</div>
	
	<div class="iconbox grid_11 alpha omega clearfix">
		<img src="../../../media/img/ico/ico_video.jpg"/>
		<div>
			<h3>Video Plugin</h3>
			<p>Mit dem Video Plugin k&ouml;nnen Sie flash-kompatible Filme auf Ihrer Website einbinden. <a href="/de/portfolio/project/saisonkuche/">Beispiel</a></p>
		</div>
	</div>
	
	<div class="iconbox grid_11 alpha omega clearfix">
		<img src="../../../media/img/ico/ico_flash.jpg"/>
		<div>
			<h3>Flash Plugin</h3>
			<p>Das Flash Plugin erlaubt SWF-Files auf der Website zu platzieren. <a href="/de/portfolio/project/saisonkuche/">Beispiel</a></p>
		</div>
	</div>
	
	<div class="iconbox grid_11 alpha omega clearfix">
		<img src="../../../media/img/ico/ico_kontaktform.jpg"/>
		<div>
			<h3>Kontaktform inkl. Google Map</h3>
			<p>Mit diesem Plugin stellen Sie Ihr eigenes Kontaktformular zusammen und bieten Ihren Kunden mit der Google Map Integration einen dynamischen Anfahrtsplan. Einfach Adresse eingeben und die Wegbeschreibung wird erstellt. <a href="/de/portfolio/project/saisonkuche/">Beispiel</a></p>
		</div>
	</div>
	
	<div class="iconbox grid_11 alpha omega clearfix">
		<img src="../../../media/img/ico/ico_printer.jpg"/>
		<div>
			<h3>Druckeroptimiertes Layout</h3>
			<p>Die Inhaltsseiten der Websites werden speziell f&uuml;r die Ausgabe auf Druckern optimiert.</p>
		</div>
	</div>
	
	<div class="iconbox grid_11 alpha omega clearfix">
		<img src="../../../media/img/ico/ico_seo.jpg"/>
		<div>
			<h3>Suchmaschinenoptimierung (SEO)</h3>
			<p>Divio erstellt alle Websites nach den Vorgaben der <a href="http://de.wikipedia.org/wiki/World_Wide_Web_Consortium">W3C</a> (World Wide Web Consortium) und optimiert die Struktur der Website, damit Ihre Website auch einfach von den Suchmaschinen indexiert werden kann.</p>
		</div>
	</div>
	
	<div class="iconbox grid_11 alpha omega clearfix">
		<img src="../../../media/img/ico/ico_analytics.jpg"/>
		<div>
			<h3>Zugriffsstatistik</h3>
			<p>Mit unserem CMS Starter konnen Sie uber <a href="http://www.google.com/intl/de_ALL/analytics/">Google Analytics</a>
			einfach verfolgen, wie sich die Besucherzahlen auf Ihrer Website entwickeln. Dank der Anbindung an Ihren Google Analytics Account erhalten Sie statistische Daten uber Besuchertrends, Seitenaufrufe, Zugriffsquellen, Verweildauer und viele weitere Auswertungen.	</p>
		</div>
	</div>
	
	<div class="iconbox grid_11 alpha omega clearfix">
		<img src="../../../media/img/ico/ico_hosting.jpg"/>
		<div>
			<h3>Hosting & Unterhalt</h3>
			<p>Um das Hosting und den Betrieb Ihres Online-Auftritts mussen Sie sich keine Gedanken machen. Dieser Service ist ein integrierter Bestandteil unseres CMS Starter.</p>
		</div>
	</div>
</div>
	
