<div class="product_holder">
	<div class="iconbox grid_11 alpha omega clearfix">
		<img src="../../../media/img/ico/ico_redaktion.jpg"/>
		<div>
			<h3>Redaktion</h3>
			<p>Das &#171;CMS Pro&#187; erm&ouml;glicht, die internen redaktionellen Abl&auml;ufe bei der Administration und beim Publishing der Website abzubilden. Dies beinhaltet die Bearbeitung durch mehrere Benutzer sowie die Freigabe von Inhalten durch definierte Moderatoren.</p> 
		</div>
	</div>
	
	<div class="iconbox grid_11 alpha omega clearfix">
		<img src="../../../media/img/ico/ico_rechte-management.jpg"/>
		<div>
			<h3>Rechte-Management</h3>
			<p>Den Benutzern k&ouml;nnen spezifische Rechte zugewiesen werden. Dies erm&ouml;glicht, dass bestimmte Seitenbereiche von den verantwortlichen Mitarbeitenden bearbeitet werden k&ouml;nnen.</p>	
		</div>
	</div>
	
	<div class="iconbox grid_11 alpha omega clearfix">
		<img src="../../../media/img/ico/ico_versionierung.jpg"/>
		<div>
			<h3>Versionierung</h3>
			<p>Jede Modifikation einer Seite wird als separate Version gespeichert. Es ist jederzeit m&ouml;glich, auf &auml;ltere Versionen einer Seite zuzugreifen und diese wiederherzustellen.</p>
		</div>
	</div>
	
	<div class="iconbox grid_11 alpha omega clearfix">
		<img src="../../../media/img/ico/ico_multisites.jpg"/>
		<div>
			<h3>Multisites</h3>
			<p>Das CMS Pro erlaubt die Verwaltung mehrerer Websites &uuml;ber die gleiche Administration. So k&ouml;nnen beispielsweise verschiedene L&auml;nderwebsites zentral verwaltet werden.</p>
		</div>
	</div>
	
	<div class="iconbox grid_11 alpha omega clearfix">
		<img src="../../../media/img/ico/ico_mehrsprachigkeit.jpg"/>
		<div>
			<h3>Mehrsprachigkeit</h3>
			<p>Das CMS Pro unterst&uuml;tzt alle Sprachen. Dies beinhaltet insbesondere auch Arabisch, Chinesisch und Russisch. Beispiel	
			<a href="http://www.gulfservice.ch/ar/">Beispiel</a></p>
		</div>
	</div>
	
	<div class="iconbox grid_11 alpha omega clearfix">
		<img src="../../../media/img/ico/ico_app.jpg"/>
		<div>
			<h3>Applikationen (Apps)</h3>
			<p>Benutzer k&ouml;nnen mit dem &#171;CMS Pro&#187; zahlreiche Applikationen wie Shops, Blogs oder einen Produktmanager an den gew&uuml;nschten Stellen der Website einf&uuml;gen.</p>
		</div>
	</div>
	
	<div class="iconbox grid_11 alpha omega clearfix">
		<img src="../../../media/img/ico/ico_flash.jpg"/>
		<div>
			<h3>Full-Flash-Sites</h3>
			<p>Auch reine Flash-Sites k&ouml;nnen mit dem CMS Pro administriert werden. Dabei stehen Ihnen die gleichen Funktionalit&auml;ten wie bei einer HTML-Seite zur Verf&uuml;gung. <a href="http://www.gotti.ch/">Beispiel</a></p>	
		</div>
	</div>
	
	
	<div class="iconbox grid_11 alpha omega clearfix">
		<img src="../../../media/img/ico/ico_mediaManager.jpg"/>
		<div>
			<h3>Media Asset Manager (MAM)</h3>
			<p>Der MAM erlaubt die effiziente Verwaltung von Assets (Bildern, PDFs, Videos und weitere Dokumente). Assets, die in mehreren Seiten vorkommen, k&ouml;nnen mit dieser Verwaltung zentral administriert werden.</p>
		</div>
	</div>
</div>
	
