<div class="product_holder">
	<div class="iconbox">
		<img src="../../../media/img/ico/ico_news.jpg"/>
		<div>
			<h3>News</h3>
			<p>Mit der News-App k&ouml;nnen Sie auf einfachste Weise ihre Website mit aktuellen Meldungen &uuml;ber Ihre Firma updaten. Es erm&ouml;glicht es auch zuk&uuml;nftige Meldungen terminiert zu erfassen, die nach Ihren Vorgaben erscheinen oder wieder verschwinden.
			<a href="http://www.divio.ch/de/news/">Beispiel</a></p>
		</div>
	</div>
	
	<div class="iconbox grid_11 alpha omega clearfix"">
		<img src="../../../media/img/ico/ico_newsLetter.jpg"/>
		<div>
			<h3>Newsletter</h3>
			<p>Die Newsletter-Applikation erlaubt Ihnen die Verwaltung von Empf&auml;ngern und das Versenden von E-Mail-Newslettern &uuml;ber die CMS-Administration im Webbrowser. Die Applikation stellt eine HTML-Vorlage und eine Textvorlage zur Verf&uuml;gung. Sie k&ouml;nnen Newsletter damit einfach anlegen und die Beitr&auml;ge im CMS bearbeiten. Danach k&ouml;nnen Sie die erstellten Newsletter auf einfache Weise mit Empf&auml;ngern versehen und &uuml;ber die CMS-Verwaltung versenden.</p>
			<p>F&uuml;r den Versand wird ein ESP (Email Service Provider) Dienst verwendet, der einen professionellen E-Mail-Versand gew&auml;hrleistet und Statistiken bietet.</p>
		</div>
	</div>
	
	<div class="iconbox grid_11 alpha omega clearfix"">
		<img src="../../../media/img/ico/ico_textSearch.jpg"/>
		<div>
			<h3>Volltextsuche</h3>
			<p>Eine Volltextsuche erm&ouml;glicht Ihnen, alle Seiteninhalte zu durchsuchen. F&uuml;r Websites mit einer grossen Anzahl an Inhalten binden wir f&uuml;r Sie gerne die professionelle
			<a href="http://www.google.de/enterprise/gsa/">Google Search Appliance</a>
			an das CMS an.
			<a href="http://www.saison.ch">Beispiel</a></p>
		</div>
	</div>
	
	<div class="iconbox grid_11 alpha omega clearfix"">
		<img src="../../../media/img/ico/ico_blog.jpg"/>
		<div>
			<h3>Blog</h3>
			<p>Mit der Blog-Applikation k&ouml;nnen Sie Eintr&auml;ge erfassen und Ihre Besucher kommentieren lassen.
			<a href="/de/blog">Beispiel</a></p>
		</div>
	</div>
	
	<div class="iconbox grid_11 alpha omega clearfix"">
		<img src="../../../media/img/ico/ico_shop.jpg"/>
		<div>
			<h3>Shop</h3>
			<p>Der Webshop erlaubt Ihnen, Produkte und Kategorien anzulegen und zu verwalten. Optional ist eine Anbindung an PayPal m&ouml;glich.
			<a href="http://www.saison.ch/shop">Beispiel</a></p>
		</div>
	</div>
	
	<div class="iconbox grid_11 alpha omega clearfix"">
		<img src="../../../media/img/ico/ico_projectManager.jpg"/>
		<div>
			<h3>Produkt Manager</h3>
			<p>Verwalten Sie Ihre Produkte &uuml;ber das CMS. Wir erstellen f&uuml;r Sie die passende App mit den von Ihnen gew&uuml;nschten Attributen zu jedem Produkt.</p>
		</div>
	</div>
	
	<div class="iconbox grid_11 alpha omega clearfix"">
		<img src="../../../media/img/ico/ico_jobManager.jpg"/>
		<div>
			<h3>Job Manager</h3>
			<p>Erfassen und verwalten Sie Ihre Jobinserate direkt &uuml;ber das CMS und weisen Sie ihnen Kategorien oder Standorte zu.</p>
		</div>
	</div>
	
	<div class="iconbox grid_11 alpha omega clearfix"">
		<img src="../../../media/img/ico/ico_team.jpg"/>
		<div>
			<h3>Team Manager</h3>
			<p>Diese Applikation erm&ouml;glicht Ihnen, die Kontaktdaten Ihrer Mitarbeiter &uuml;ber das CMS zu verwalten (inkl. vCard-Export).</p>
		</div>
	</div>
	
	<div class="iconbox grid_11 alpha omega clearfix"">
		<img src="../../../media/img/ico/ico_formManager.jpg"/>
		<div>
			<h3>Form Manager</h3>
			<p>Der Form Manager erm&ouml;glicht Ihnen, beliebig viele, frei definierbare Formulare selber und jederzeit zu erstellen. Die so erstellten Formulare k&ouml;nnen Sie &uuml;berall auf Ihrer Website platzieren.</p>
		</div>
	</div>
	
	<div class="iconbox grid_11 alpha omega clearfix"">
		<img src="../../../media/img/ico/ico_locationfinder.jpg"/>
		<div>
			<h3>Location Finder</h3>
			<p>Mit dem Location Finder bearbeiten Sie auf einfache Weise die Adressen und Lagepl&auml;ne Ihrer Filialen, inklusive L&auml;nder-, Bezirk- und Stadtauswahl mit den dazugeh&ouml;rigen Maps</p>
		</div>
	</div>
	
	<div class="iconbox grid_11 alpha omega clearfix"">
		<img src="../../../media/img/ico/ico_tellFriend.jpg"/>
		<div>
			<h3>Tell-A-Friend</h3>
			<p>Mit der Tell-A-Friend-Applikation k&ouml;nnen die Besucher Ihrer Website diese Freunden weiterempfehlen.</p>
		</div>
	</div>
	
	<div class="iconbox grid_11 alpha omega clearfix"">
		<img src="../../../media/img/ico/ico_video.jpg"/>
		<div>
			<h3>Flash Video Konverter</h3>
			<p>Diese Applikation konvertivert automatisch beliebige Videoformate zu Flashvideo (FLV/H.264), inkl. automatischer Skalierung. Das Flash Video Plugin erm&ouml;glicht die Einbindung dieser Videos auf beliebigen Bereichen Ihrer Website.</p>
		</div>
	</div>
	
	<div class="iconbox grid_11 alpha omega clearfix"">
		<img src="../../../media/img/ico/ico_custom.jpg"/>
		<div>
			<h3>Kundenspezifische Plugins</h3>
			<p>Gerne erstellen wir naturlich auch auf Sie zugeschnittene Plugins.</p>
		</div>
	</div>
</div>
