<div class="cms_plugin_holder">
	<h2>Testplugin um PluginToolbar zu testen</h2>
	<p style="background:none;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non ligula eget libero tristique tincidunt tristique in massa.<br /><br />Pellentesque luctus egestas nisi id eleifend. Duis non commodo ante. Nulla luctus sollicitudin tortor eget elementum. Duis bibendum consectetur neque placerat venenatis. Nulla at metus quam. Nulla condimentum cursus interdum. Donec interdum odio ac nulla sodales id dapibus enim commodo.</p>
</div>