	<div class="shop">
		<img src="../../../media/img/ico/ico_cms.jpg"/>
		<h2>LaunchPad CMS</h2>
		<p>	In nec elit lacus, pharetra consectetur diam. Sed pretium dapibus turpis, a interdum erat hendrerit eget. Sed variusvenenatis. Phasellus velit diam, lobortis ut aliquam eget. Hendrerit eget. Sed varius sodales elit vitae venenatis. Phasellus velit diam, lobortis ut aliquam ege <a href="#">Live ansehen</a></p>	
		<div class="shop_options clearfix">
			<div class="shop_options_price">
				<p class="price">CHF 4900.00 <span>exkl. MWST</span></p>
			</div>
			<div class="shop_options_controls">
				<div class="shop_options_number">
					<div class="shop_options_number_minus_btn">
						<ul>
							<li>
								<a href="#">-</a>
							</li>
						</ul>
					</div>
					<div class="shop_options_number_total">1</div>
					<div class="shop_options_number_plus_btn">
						<ul>
							<li>
								<a href="#">+</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="shop_options_basket">
					<ul class="btn">
						<li>
							<a href="#">IN DEN WARENKORB</a>
						</li>
					</ul>
				</div>
			</div>	
		</div>
	</div>
	<div class="shop">
		<img src="../../../media/img/ico/ico_cms.jpg"/>
		<h2>LaunchPad CMS</h2>
		<p>	In nec elit lacus, pharetra consectetur diam. Sed pretium dapibus turpis, a interdum erat hendrerit eget. Sed variusvenenatis. Phasellus velit diam, lobortis ut aliquam eget. Hendrerit eget. Sed varius sodales elit vitae venenatis. Phasellus velit diam, lobortis ut aliquam ege <a href="#">Live ansehen</a></p>	
		<div class="shop_options clearfix">
			<div class="shop_options_price">
				<p class="price">CHF 4900.00 <span>exkl. MWST</span></p>
			</div>
			<div class="shop_options_controls">
				<div class="shop_options_number">
					<div class="shop_options_number_minus_btn">
						<ul>
							<li>
								<a href="#">-</a>
							</li>
						</ul>
					</div>
					<div class="shop_options_number_total">1</div>
					<div class="shop_options_number_plus_btn">
						<ul>
							<li>
								<a href="#">+</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="shop_options_basket">
					<ul class="btn">
						<li>
							<a href="#">IN DEN WARENKORB</a>
						</li>
					</ul>
				</div>
			</div>	
		</div>
	</div>
	<div class="shop">
		<img src="../../../media/img/ico/ico_cms.jpg"/>
		<h2>LaunchPad CMS</h2>
		<p>	In nec elit lacus, pharetra consectetur diam. Sed pretium dapibus turpis, a interdum erat hendrerit eget. Sed variusvenenatis. Phasellus velit diam, lobortis ut aliquam eget. Hendrerit eget. Sed varius sodales elit vitae venenatis. Phasellus velit diam, lobortis ut aliquam ege <a href="#">Live ansehen</a></p>	
		<div class="shop_options clearfix">
			<div class="shop_options_price">
				<p class="price">CHF 4900.00 <span>exkl. MWST</span></p>
			</div>
			<div class="shop_options_controls">
				<div class="shop_options_number">
					<div class="shop_options_number_minus_btn">
						<ul>
							<li>
								<a href="#">-</a>
							</li>
						</ul>
					</div>
					<div class="shop_options_number_total">1</div>
					<div class="shop_options_number_plus_btn">
						<ul>
							<li>
								<a href="#">+</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="shop_options_basket">
					<ul class="btn">
						<li>
							<a href="#">IN DEN WARENKORB</a>
						</li>
					</ul>
				</div>
			</div>	
		</div>
	</div>
