<div class="shop_basket">
<h1>Warenkorb</h1>
<p>Ihr Warenkorb enh&auml;lt 2 Objekte</p>
	<div class="shop_basket_item">
		<div class="shop_basket_total">1</div>
		<p><a href="#">Launchpad CMS</a><span>CHF 4900.00</span></p>
	</div>
	<div class="shop_basket_item">
		<div class="shop_basket_total">1</div>
		<p><a href="#">Launchpad CMS</a><span>CHF 4900.00</span></p>
	</div>
	<div class="shop_basket_item">
		<div class="shop_basket_total">1</div>
		<p><a href="#">Launchpad CMS</a><span>CHF 4900.00</span></p>
	</div>
	<div class="shop_basket_price_total">
		<p>TOTAL - CHF 14700.00</p>
	</div>
	<div class="shop_basket_functions">
		<ul class="btn2">
			<li>
				<a href="#">Aktualisieren</a>
			</li>
		</ul>
		<ul class="btn">
			<li>
				<a href="#">ZUR KASSE</a>
			</li>
		</ul>
	</div>
</div>