{% extends "base.html" %}
{% load i18n thumbnail cms_tags %}

{% if title %}
{% block title %}{{ block.super }} | {{ title }}{% endblock %}
{% endif %}

{% block extrahead %}
	<link rel="alternate" type="application/rss+xml" title="{{ site_settings.site }} - {% filter title %}{% trans 'news feed' %}{% endfilter %}" href="{# url news_feed #}"/>
{% endblock %}

{% block tpl_id %}tpl_col_two{% endblock %}

{% block content %}
    <div id="col1" class="grid_4 alpha omega nav_sub_column">	    
		{% include "sidebar_submenu.html" %}
	
		{% block col_left %}
	    	{% placeholder col_left "220" %}
		{% endblock %}
    </div>
	
    <div id="col2" class="grid_11 push_1">
    	<h1>{% page_attribute title %}</h1>
		{% if title %}<h2>{{ title }}</h2>{% endif %}
		{% block content_news %}{% endblock %}&nbsp;
		{% block paginator %}{% include "paginator.html" %}{% endblock %}
		{% comment %}
		{% block col_right %}
			{% placeholder col_right "640" %}
		{% endblock %}
		{% endcomment %}
    </div>
{% endblock %}
